body,
table,
input,
button {
  font: 400 16px/140% "Roboto", sans-serif;
}

body {
  background-color: #121214;
  color: #fff;
}

table {
  border-collapse: collapse;
  thead {
    font-size: 14px;
    line-height: 16px;
    th {
      padding: 12px 16px;
    }
  }

  tbody {
    td {
      padding: 12px 16px;
      border-top: 1px solid #ffffff1a;
      font-size: 13px;
      line-height: 15px;
      color: #c4c4cc;

      small {
        font-size: 12px;
        line-height: 16px;
      }

      button {
        all: unset;
        color: #9ff9cc;
        &:hover {
          text-decoration: underline;
        }
      }

      strong {
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
      }
    }
  }
}